Electron/
cef_user_data/
dconf/
discord/
gtk*/
ibus/
obsidian/
pulse/
qBittorrent/
ranger/
sonic-visualiser/
wally/
.keymapp/
user*
QtProject.conf

# From lazynvim
tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
